@*

*@
@{
    <div class="container d-flex flex-column">
        <div class="d-flex flex-row h-100 ">
            <div class="d-flex h-100 justify-content-around m-5">
                <img src="~/img/fotohome 1.png" style="height:734px; width:576px" />
            </div>
            <div class="d-flex flex-column h-auto justify-content-around m-5 text-start">
                <div>
                    <h5>Selecione seu foco, gere receitas e muito mais.</h5>
                </div>
                <div>
                    <p>Descubra um novo jeito de cuidar do seu corpo e mente através de uma alimentação balanceada e cheia de sabor. 
                    Aqui, acreditamos que comer bem não precisa ser complicado.</p>
                </div>
                <div class="">
                    <a class="text-white fw-bold p-3" style="background-color:#014A30" asp-action="Index" asp-controller="Nutricionistas">
                        Agendar
                        minha consulta
                    </a>
                </div>
            </div>
        </div>
    </div>
}
