@*

*@
@{
    <div class="container d-flex flex-column">
        <div class="p-4 text-center m-5 rounded" style="background-color:#153900">
            <h2 class="text-white fw-bold">Estamos aqui para ajudar</h2>
        </div>
        <div class="d-flex flex-column h-100">
            <div class="d-flex w-100 justify-content-around m-5">
                <div class="w-50 text-center text-start w-50">
                    <h4 class="display-4">
                        Como
                        podemos
                        ajudar você?
                    </h4>
                </div>
                <div class="w-50 text-center bg-white">
                    <p>
                        Queremos satisfazer e encantar nossos usuários - cada um deles.
                        Nós projetamos este site e treinamos nossos membros de equipe com esse objetivo em mente.
                        Se você precisar entrar em contato conosco por qualquer motivo, esta página mostrará como, da melhor maneira possível.
                    </p>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-around m-5">
                <div class="w-50 text-center text-start">
                    <h4 class="display-4">
                        Entre em
                        contato por e-
                        mail
                    </h4>
                </div>
                <div class="w-50 text-start">
                    <p>
                        contatos.clientes@@eatwise.com
                    </p>
                </div>
           </div>
        </div>
    </div>
}
